* {
    padding: 0;
    margin: 0;
}

body{
  
    
}
.box{
    background: yellow;
    margin: 10px;
    padding: 10px;
    width: 200px;
    height: 200px;
    position: relative;
   
    
}
.child{
    width: 10px;
    height: 3px;
    background-color: black;
    position: absolute;
    transform: translateY()
   
}