* {
    padding: 0;
    margin: 0;
}

body{
  
    
}
.box{
    background: yellow;
    margin: 10px;
    padding: 10px;
    width: 200px;
    height: 200px;
    position: relative;
   
    
}
.child{
    width: 50px;
    height: 50px;
    background-color: black;
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
   
}